body {
    margin: 0;
    background: #000;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

footer{
    text-align: center;
    background-color: #d6e1e5;
}

#socials {
    text-align: center;
    display: block;
    margin: 5px;
    padding: 5px;
}

#socials ul {
    list-style-type: none;
    padding: 2px;
    margin: 2px;
}

#socials ul li {
    display: inline-block;
    margin: 2px;
    padding: 2px;
}

.github:hover {
    fill: #913399;
}

.bitbucket:hover {
    fill: #205081;
}

.linkedin:hover {
    fill: #0077B5;
}

.vk:hover {
    fill: #45668e;
}

.facebook:hover {
    fill: #3b5998;
}

.youtube:hover {
    fill: #bb0000;
}

.hand-me {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.email {
    font-family: "Comic Sans MS", serif;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}