* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', Tahoma, Arial, sans-serif;
}

body {
    margin: 0;
    background: #000;
    font-weight: normal;
}

a, a:hover {
    font-weight: 500;
    text-decoration: none;
}

ul {
    list-style: none;
}

.background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

.home {
    height: 100vh;
    width: 100%;
}

.pre-info {
    color: #fff;
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 1px;
}

.pre-info .main-photo img {
    width: 250px;
    height: 250px;
}

.pre-info .name-info {
    font-weight: bold;
    margin-top: 15px;
    font-size: 2.5em;
}

.pre-info .prog-info {
    margin-top: 10px;
    font-size: 1.5em;
}

.down-pointer {
    cursor: pointer;
    bottom: 85px;
    width: 70px;
    height: 37px;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    opacity: .7;
}

.down-pointer-img {
    width: 70px;
    height: 37px;
}

.header {
    padding: 100px 30px 70px 30px;
}

.header h1 {
    font-size: 2.0rem;
    font-weight: 700;
}

.content-container {
    color: #252a30;
    text-align: center;
    width: 100%;
}

.skills-container {
    background: #eeefe5;
}

.skills-enum {
    font-size: 1.3em;
    padding-bottom: 100px;
}

.experience-container {
    background: #ffc66d;
}

.experience-body {
    padding-bottom: 100px;
}

.projects-container {
    background: #eeefe5;
}

.projects-body {
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 100px;
}

.project {
    text-align: left;
    padding: 10px;
}

.project-header a {
    color: #252a30;
    text-decoration: none;
}

.project-header a:hover {
    color: #252a30;
    text-decoration: none;
}

.project-body {
    padding: 25px 0 25px 0;
    align-items:center;
}

.project-img {
    filter: saturate(70%);
    transition-duration: 1s;
    max-height: 350px;
    max-width: 350px;
}

.project-img:hover {
    filter: saturate(100%);
    transition-duration: 1s;
}

.project-tech-stack h3 {
    font-size: 1.3rem;
    font-weight: 600;
}

.project-tech-stack ul {
    padding-left: 5px;
}

#colibri-header{
    text-align: right;
}

footer {
    font-size: 0.85em;
    background: #252a30;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    padding: 80px 0 60px 0;
}

.email {
    margin-bottom: 25px;
}

footer a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

footer a:hover {
    color: #0078d7;

    text-decoration: none;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    transition: .5s ease-out;
}